<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ui vertical borderless fluid text menu" th:fragment="menu">
    <a th:href="@{'/cuentas/deposito'}" class="item">Deposito</a>
    <a th:href="@{'/clientes/agregar'}" class="item">Nuevo Cliente</a>
    <a th:href="@{'/clientes'}" class="item">Clientes</a>
</div>

</body>
</html>