<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BancaAPP - Agregar cuenta</title>
    <link rel='stylesheet' href='/webjars/Semantic-UI/2.4.1/semantic.min.css'>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src='/webjars/vue/2.6.11/vue.min.js'></script>
    <script src='/webjars/axios/0.19.0/dist/axios.min.js'></script>
</head>
<body>

<div class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">Banca App</a>
    </div>
</div>
<div class="ui mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu">
        <a class="header item">Banca App</a>
        <div class="right menu">
            <div class="item">
                <button class="ui icon toggle basic inverted button">
                    <i class="content icon"></i>
                </button>
            </div>
        </div>
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
</div>
<div class="ui padded grid">
    <div
            class="two wide tablet only two wide computer only column"
            id="sidebar"
    >
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
    <div
            class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
            id="content"
    >
        <div class="ui padded grid">
            <div class="row">
                <h3 class="ui huge dividing header">Agregar cuenta</h3>
            </div>

            <div class="row">
                <h4 class="ui dividing header">Cliente</h4>

                <div class="ui list">
                    <div class="item" th:utext="'<b>Nombre: </b>' + ${cliente.nombre}"></div>
                    <div class="item" th:utext="'<b>Apellido: </b>' + ${cliente.apellido}"></div>
                    <div class="item" th:utext="'<b>DUI: </b>' + ${cliente.dui}"></div>
                </div>
            </div>

            <div class="row">
                <form class="ui form" style="width: 50%;" action="#" th:action="@{'/clientes/agregar-cuenta/' + ${cliente.codCliente}}"
                      th:object="${cuenta}" method="post">
                    <h4 class="ui dividing header">Cuenta Bancaria</h4>

                    <div class="field">
                        <label for="montoApertura">Monto de Apertura:</label>
                        <input class="money"
                                type="text" th:field="*{montoApertura}"
                                id="montoApertura" placeholder="Monto de Apertura">
                    </div>

                    <div class="field">
                        <label for="tipoCuenta">Tipo de Cuenta:</label>
                        <select id="tipoCuenta" placeholder="Tipo de Cuenta" th:field="*{tipoCuenta}">
                            <option th:value="'A'" th:text="Ahorro"></option>
                            <option th:value="'C'" th:text="Corriente"></option>
                            <option th:value="'P'" th:text="Planilla"></option>
                        </select>
                    </div>


                    <button class="ui primary button" type="submit">Registrar</button>

                </form>

            </div>

        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>
<script src="/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.min.js"></script>
<script>
    $(document).ready(() => {
        $('#dui').mask('########-#');
        $('.money').mask('###0.00', {reverse: true})
    });
</script>
<script>
    $(document).ready(function () {
        $(".ui.toggle.button").click(function () {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
    });
</script>


</body>
</html>