<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BancaAPP - Cliente</title>
    <link rel='stylesheet' href='/webjars/Semantic-UI/2.4.1/semantic.min.css'>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src='/webjars/vue/2.6.11/vue.min.js'></script>
    <script src='/webjars/axios/0.19.0/dist/axios.min.js'></script>
</head>
<body>
<div class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">Banca App</a>
    </div>
</div>
<div class="ui mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu">
        <a class="header item">Banca App</a>
        <div class="right menu">
            <div class="item">
                <button class="ui icon toggle basic inverted button">
                    <i class="content icon"></i>
                </button>
            </div>
        </div>
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
</div>
<div class="ui padded grid">
    <div
            class="two wide tablet only two wide computer only column"
            id="sidebar"
    >

        <div th:replace="components/menu :: menu">&nbsp;</div>

    </div>
    <div
            class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
            id="content"
    >
        <div class="ui padded grid">
            <div class="row">
                <h3 class="ui huge dividing header">Clientes</h3>
            </div>
            <div class="row">
                <table class="ui very compact selectable celled table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DUI</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.codCliente}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.dui}"></td>
                        <td style="text-align: right;">
                            <a th:href="@{'/clientes/editar/' + ${cliente.codCliente}}" title="Editar" class="ui icon blue small button"><i class="pencil icon"></i>
                            </a>
                            <a th:href="@{'/clientes/eliminar/' + ${cliente.codCliente}}" title="Eliminar" class="ui icon red small button"><i class="trash icon"></i>
                            </a>
                            <a th:href="@{'/clientes/cuentas/' + ${cliente.codCliente}}" title="Ver cuentas" class="ui icon grey small button"><i class="briefcase icon"></i>
                            </a>
                            <a th:href="@{'/clientes/agregar-cuenta/' + ${cliente.codCliente}}" title="Agregar cuenta" class="ui icon green small button"><i
                                    class="briefcase icon"></i><i class="plus icon"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ui.toggle.button").click(function () {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
    });
</script>

</body>
</html>