<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BancaAPP - Cuentas Cliente</title>
    <link rel='stylesheet' href='/webjars/Semantic-UI/2.4.1/semantic.min.css'>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src='/webjars/vue/2.6.11/vue.min.js'></script>
    <script src='/webjars/axios/0.19.0/dist/axios.min.js'></script>
</head>
<body>
<div class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">Banca App</a>
    </div>
</div>
<div class="ui mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu">
        <a class="header item">Banca App</a>
        <div class="right menu">
            <div class="item">
                <button class="ui icon toggle basic inverted button">
                    <i class="content icon"></i>
                </button>
            </div>
        </div>
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
</div>
<div class="ui padded grid">
    <div
            class="two wide tablet only two wide computer only column"
            id="sidebar"
    >

        <div th:replace="components/menu :: menu">&nbsp;</div>

    </div>
    <div
            class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
            id="content"
    >
        <div class="ui padded grid">
            <div class="row">
                <h3 class="ui huge dividing header">Cuentas del Cliente</h3>
            </div>
            <div class="row">
                <h5 class="ui dividing header">Cliente</h5>
            </div>
            <div class="row">
                <table class="ui very compact selectable celled table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DUI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${cliente.codCliente}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.dui}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <h5 class="ui dividing header">Cuentas</h5>
            </div>
            <div class="row">
                <table class="ui very compact selectable celled table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Numero</th>
                        <th>Monto de Apertura</th>
                        <th>Saldo</th>
                        <th>Tipo de Cuenta</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cuenta : ${cuentas}">
                        <td th:text="${cuenta.id}"></td>
                        <td th:text="${cuenta.numCuenta}"></td>
                        <td th:text="${cuenta.montoApertura}"></td>
                        <td th:text="${cuenta.saldo}"></td>
                        <td th:text="${cuenta.tipoCuenta}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a th:href="@{/clientes}" class="ui black button">Regresar</a>
            </div>
        </div>

    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ui.toggle.button").click(function () {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
    });
</script>

</body>
</html>