<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BancaAPP - Deposito</title>
    <link rel='stylesheet' href='/webjars/Semantic-UI/2.4.1/semantic.min.css'>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src='/webjars/vue/2.6.11/vue.min.js'></script>
    <script src='/webjars/axios/0.19.0/dist/axios.min.js'></script>
</head>
<body>
<div class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">Banca App</a>
    </div>
</div>
<div class="ui mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu">
        <a class="header item">Banca App</a>
        <div class="right menu">
            <div class="item">
                <button class="ui icon toggle basic inverted button">
                    <i class="content icon"></i>
                </button>
            </div>
        </div>
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
</div>
<div class="ui padded grid">
    <div
            class="two wide tablet only two wide computer only column"
            id="sidebar"
    >

        <div th:replace="components/menu :: menu">&nbsp;</div>

    </div>
    <div
            class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
            id="content"
    >
        <div class="ui padded grid">
            <div class="row">
                <h3 class="ui huge dividing header">Deposito</h3>
            </div>

            <div class="row">
                <form class="ui form" style="width: 100%;" action="#" th:action="@{'/cuentas/deposito/cuenta'}"
                      method="get">
                    <div class="field">
                        <label for="cuenta">Numero de cuenta:</label>
                        <input
                                type="text" th:name="cuenta" id="cuenta"
                                placeholder="Numero de cuenta"></div>

                    <button class="ui primary button" type="submit">Buscar</button>

                </form>
            </div>


            <div th:if="${cuenta.cliente != null}" class="row">
                <h4 class="ui dividing header">Cliente</h4>

                <div class="ui list">
                    <div class="item" th:utext="'<b>Nombre: </b>' + ${cuenta.cliente.nombre}"></div>
                    <div class="item" th:utext="'<b>Apellido: </b>' + ${cuenta.cliente.apellido}"></div>
                    <div class="item" th:utext="'<b>DUI: </b>' + ${cuenta.cliente.dui}"></div>
                </div>
                <h4 class="ui dividing header">Cuenta</h4>
                <div class="ui list">
                    <div class="item" th:utext="'<b>Número de cuenta: </b>' + ${cuenta.numCuenta}"></div>
                    <div class="item" th:utext="'<b>Tipo de cuenta: </b>' + ${cuenta.tipoCuenta}"></div>
                    <div class="item" th:utext="'<b>Saldo: $</b>' + ${cuenta.saldo}"></div>
                </div>
            </div>


            <div th:if="${cuenta.numCuenta != null}" class="row">
                <form class="ui form" style="width: 50%;" action="#" th:action="@{'/cuentas/deposito'}"
                      th:object="${cuenta}" method="post">
                    <h4 class="ui dividing header">Cuenta Bancaria</h4>

                    <input type="hidden" th:field="*{id}"
                           id="id">
                    <div class="field">
                        <label for="saldo">Monto:</label>
                        <input class="money"
                                type="text" th:field="*{monto}"
                                id="saldo" placeholder="Monto">
                    </div>

                    <button class="ui primary button" type="submit">Depositar</button>
                </form>

            </div>

            <div th:if="${!message.isEmpty()}" class="ui row positive message">
                <div class="header">
                    Deposito realizado <a th:href="@{/clientes}"><u>Regresar</u></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>
<script src="/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.min.js"></script>
<script>
    $(document).ready(() => {
        $('#dui').mask('0000000');
        $('.money').mask('###0.00', {reverse: true})
    });
</script>
<script>
    $(document).ready(function () {
        $(".ui.toggle.button").click(function () {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
    });
</script>

</body>
</html>