<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BancaAPP - Editar Cliente</title>
    <link rel='stylesheet' href='/webjars/Semantic-UI/2.4.1/semantic.min.css'>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src='/webjars/vue/2.6.11/vue.min.js'></script>
    <script src='/webjars/axios/0.19.0/dist/axios.min.js'></script>
</head>
<body>

<div class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">Banca App</a>
    </div>
</div>
<div class="ui mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu">
        <a class="header item">Banca App</a>
        <div class="right menu">
            <div class="item">
                <button class="ui icon toggle basic inverted button">
                    <i class="content icon"></i>
                </button>
            </div>
        </div>
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
</div>
<div class="ui padded grid">
    <div
            class="two wide tablet only two wide computer only column"
            id="sidebar"
    >
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
    <div
            class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
            id="content"
    >
        <div class="ui padded grid">
            <div class="row">
                <h3 class="ui huge dividing header">Editar cliente</h3>
            </div>

            <div class="row">
                <form class="ui form" style="width: 50%;" action="#" th:action="@{'/clientes/editar/' + ${cliente.codCliente}}"
                      th:object="${cliente}" method="post">
                    <h4 class="ui dividing header">Información personal</h4>
                    <div class="field">
                        <label for="nombre">Nombre:</label>
                        <input
                                type="text" th:field="*{nombre}" id="nombre"
                                placeholder="Nombre">
                        <span style="color: red"
                              th:if="${errors.get('nombre')}" th:text="${errors.get('nombre')}"></span>
                    </div>
                    <div class="field">
                        <label for="apellido">Apellido:</label>
                        <input
                                type="text" th:field="*{apellido}" id="apellido"
                                placeholder="Apellido">
                        <span style="color: red"
                              th:if="${errors.get('apellido')}" th:text="${errors.get('apellido')}"></span>
                    </div>

                    <div class="field">
                        <label for="dui">DUI:</label> <input
                            type="text" th:field="*{dui}"
                            id="dui" placeholder="DUI">
                        <span style="color: red"
                              th:if="${errors.get('dui')}"
                              th:text="${errors.get('dui')}"></span>
                    </div>

                    <a th:href="@{/clientes}" class="ui black button">Cancelar</a>
                    <button class="ui primary button" type="submit">Guardar Cambios</button>

                </form>

            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>
<script src="/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.min.js"></script>
<script>
    $(document).ready(() => {
        $('#dui').mask('00000000-0');
        $('.money').mask('#,##0.00', {reverse: true})
    });
</script>
<script>
    $(document).ready(function () {
        $(".ui.toggle.button").click(function () {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
    });
</script>


</body>
</html>