<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BancaAPP - Deposito</title>
    <link rel='stylesheet' href='/webjars/Semantic-UI/2.4.1/semantic.min.css'>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src='/webjars/vue/2.6.11/vue.min.js'></script>
    <script src='/webjars/axios/0.19.0/dist/axios.min.js'></script>
</head>
<body>
<div class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">Banca App</a>
    </div>
</div>
<div class="ui mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu">
        <a class="header item">Banca App</a>
        <div class="right menu">
            <div class="item">
                <button class="ui icon toggle basic inverted button">
                    <i class="content icon"></i>
                </button>
            </div>
        </div>
        <div th:replace="components/menu :: menu">&nbsp;</div>
    </div>
</div>
<div class="ui padded grid">
    <div
            class="two wide tablet only two wide computer only column"
            id="sidebar"
    >

        <div th:replace="components/menu :: menu">&nbsp;</div>

    </div>
    <div
            class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
            id="content"
    >
        <div class="ui padded grid">
            <div class="row">
                <h3 class="ui huge dividing header">Eliminar Cliente</h3>
            </div>
            <div class="row">
                <h5>¿Desea eliminar este Cliente y las cuentas asociadas al mismo?</h5>

            </div>
            <div class="row">
                <a th:href="@{/clientes}" class="ui black button" >Cancelar</a>

                <form action="#" th:action="@{'/clientes/delete/' + ${cliente.codCliente}}" method="post">
                    <button type="submit" class="ui red button" >Eliminar</button>
                </form>

            </div>

        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>

<script>
    $(document).ready(function () {
        $(".ui.toggle.button").click(function () {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
    });
</script>

</body>
</html>